<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/menu.xsd">
    <menu>
        <add id="CodeAesthetix_Student::menu" title="CodeAesthetix" translate="title" module="CodeAesthetix_Student" sortOrder="60" resource="CodeAesthetix_Student::menu"/>
        <add id="CodeAesthetix_Student::students" title="Students" module="CodeAesthetix_Student" parent="CodeAesthetix_Student::menu" sortOrder="1" resource="CodeAesthetix_Student::students" action="student/student/index"/>
    </menu>
</config>
